@import "@/assets/styles/global.scss";

.menuBase_container {
  position: absolute;
  width: 180px;
  border-radius: 6px;
  min-height: 145px;
  background: white;
  box-shadow: 0 4px 8px rgba(7, 17, 27, 0.7);
  color: black;
  top: 50px;
  right: -15px;
  opacity: 1;
  @include transition(0s);

  .title {
    height: 43px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border-bottom: 1px solid white;
    padding-left: 20px;
    box-sizing: border-box;
    padding-bottom: 3px;
    margin-bottom: 10px;
    .head {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  .body {
    min-height: 140px;
    width: 100%;
    box-sizing: border-box;
    div {
      height: 25px;
      text-indent: 20px;
      line-height: 25px;

      &:hover {
        background: black;
        color: white;
      }
    }
    #quit {
      color: red;
    }
  }
}