.container {
    box-sizing: border-box;
    height: 700px;
    margin: 70px auto 0;
    overflow: hidden;
    border: 2px solid #c8c8c8;
    box-shadow: 8px 8px 8px #282828;
    position: relative;

    .left_layerout {
        height: 700px;
        box-sizing: border-box;
        background-color: #3c3c3c;
    }

    .right_layerout {
        height: 700px;
        box-sizing: border-box;
        padding: 15px;
        background-color: white;
    }
}